<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusPassWithQRScan"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SuperAdmin.activity_superadmin_dashboard"
            android:exported="false" />
        <activity
            android:name=".Admin.Admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".Conductor.Conductor_Dashboard"
            android:exported="false" />
        <activity
            android:name=".Parent.Notificationparent_details"
            android:exported="false" />
        <activity
            android:name=".Parent.Parent_dashboard"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Student.DialogeBox_ForMap_Student" -->
        <!-- android:exported="false" /> -->
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC03kmnBzwI780uw0sj6iO_mqDkYoCytNc" />

        <activity
            android:name=".Student.MapsActivitystudent1"
            android:exported="false"
            android:label="@string/title_activity_maps_activitystudent1" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <activity
            android:name=".Student.Notification_details"
            android:exported="false" />
        <activity
            android:name=".Student.Favourite_Stops"
            android:exported="true" />
        <activity
            android:name=".Student.Student_dashboard"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>